
*, *::after, *::before{
  box-sizing: border-box;
}

body{
  background-color: rgb(77, 124, 168);
  display: flex;
  flex-direction: column;
}

.players-names{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
}

.board{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  min-width: 500px;
  height: 500px;
  
}

.box{
  background-color: white;
  border: solid rgb(0, 0, 0) 1px;
}

.numbers-on-board{
  display: grid;
  grid-row: 2 / -1;

  color: white;
  font-size: 18px;
}

.numbers-on-board div{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.letters-on-board{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  
  color: white;
  font-size: 18px;
}

.letters-on-board div{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.ship{
  background-color: black;
}

.attack{
  background-color: red;
}

.miss{
  background-color: rgba(92, 109, 156, 0.473);
}

.sunk{
  background-color: rgb(249, 118, 140);
}
